<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\BCA\SEM-6\Dipesh_36(PP)\PROJECT\PROJECT-II\App_Data\Database.mdf;Integrated Security=True;User Instance=True" name="conn" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
